/*

  $FORMS

  Base form styles
  
*/


// Basic Form Elements

select,
input,
textarea {
    color: $body-color;
}

textarea {
    resize: vertical;
}

input[type="text"]::-ms-clear {
    display: none;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: $label-margin;
    & + label {
        font-weight: normal;
    }
}

input[type="submit"] {
    @extend .btn;
}

label {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $label-margin;
    cursor: pointer;
}

fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: ($vert-spacing-unit / 2) $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;
    border-color: $light-grey;
}

legend {
    @include font-size(18px);
    padding: 0 0.8em;
    color: $grey;
}

// Form groups

.form__group {
    position: relative;
    @include margin-trailer(1);
}

.form__group--boxed {
    border: 1px solid $light-grey;
    border-radius: $base-border-radius;
    padding: $form-control-padding ($form-control-padding * 2);
    @extend %form__control--focus;
    label {
        margin: 0;
    }
    select {
        margin-left: -6px;
        // Compensate for space inside <select>
        &[multiple] {
            margin-left: 0;
        }
    }
}

.form__group--inline {
    display: inline-block;
    vertical-align: baseline;
    label, input {
        width: auto;
    }
    @include breakpoint($bp-md) {
        display: block;
    }
}


// Form Controls

%form__control--focus {
    &:focus, &.focus {
        box-shadow: none;
        border-color: darken($grey, 20%);
        outline: none;
    }
}

.form__control {
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: $base-border-radius;
    padding: $form-control-padding;
    @include input-height(1);
    @extend %form__control--focus;
}

.form__control--boxed {
    padding: 0;
    background: transparent;
    border: none;
}

textarea.form__control,
select[multiple].form__control {
    height: auto;
}

.form__checklist, .radio, .checkbox {
    margin: 0;
    padding: 0;
    list-style: none;
    label, input {
        display: inline-block;
        cursor: pointer;
    }
}

/* -------------------------------------- */

/*
  
  $FORM VALIDATION

  Form Validation Classes
  
*/

// Instead of just using an '.error' class
// we make unambiguous by prepending 'val-'
// This way you know this class is supposed to be used for form validation

.form__control.val-error {
    // Form control must be used on the input itself (select,input,textarea, etc)
    border: 1px solid $color-negative;
}

// Just the border is not enough, since checkboxes and radio buttons wont change border color
// for that we add the validation error class to the label itsel, to change the color of the label text
label.val-error {
    color: $color-negative;
    small {
        color: $body-color;
    }
}

// Class to position the validation message at the top right corner 
// of the form group
// IMPORTANT: Make sure you message is inside a '.form__group', 
// this will create a context to position the message
%val-error--top-right, .val-error--top-right {
    position: absolute;
    top: 0;
    right: 0;
}

// Validation Error Message
// Either use a <small> element for a small message, or a simple <span> for regular font size
small.val-error, span.val-error {
    display: block;
    color: $color-negative;
    margin-top: $label-margin;
    margin-bottom: $label-margin;
    // In Case we want the message on the top
    // Optional if you want all messages at the top right corner by default
    // Otherwise just add the class to the element itself
    // @extend %val-error--top-right;
}