/*

    Print

    Print styles

*/

@media only print {
    body {
        font-size: 16px;
        background-image: none;
        color: #333;
        background: #fff;
    }
    // header
    .site-branding {
        float: left;
    }
    .site-header,
    .post-navigation,
    aside,
    .site-footer {
        display: none !important;
    }
    .page-masthead {
        padding: 0 !important;
    }
    .site-footer {
        background-image: none;
        color: black;
    }
    .off-canvas__inner,
    .page-wrap {
        padding-top: 0;
    }
    main {
        width: 100% !important;
    }
    h1, h2 {
        page-break-before: always;
    }
    img {
        max-width: 500px;
        width: 100% !important;
    }
    // Links
    a {
        text-decoration: underline;
    }
    ul, img {
        page-break-inside: avoid;
    }
    // document
    @page {
        margin: 0.5cm;
    }
}