/*

  Typography

  Base typographic styles
  
*/

//---------- @Fontface declarations --------//

// Override the icomoon declaration
@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}


//----------------------------//

html {
    font-family: $body-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height / $base-font-size;
    color: $body-color;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: $color-primary;
    color: white;
}

// Attach a JSON object of media query values to be made available to JS
head {
    font-family: $bp-array;
}

.icon {
    @extend [class*=" icon-"];
}

[data-target] {
    cursor: pointer;
}

/**
 * $LINKS
 */
a {
    text-decoration: none;
    // Mixin defined in abstractions/_mixins.scss
    @include link-colors($color-primary, darken($color-primary, 10%), lighten($color-primary, 10%), $color-primary, darken($color-primary, 10%));
    //remove the dotted outline on firefox
    &:focus, &:active {
        outline: none;
    }
}

a, i {
    -webkit-tap-highlight-color: transparent;
}

%heading-style {
    font-family: $heading-font-family;
    margin-top: 0;
    @include margin-trailer(1);
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    @extend %heading-style;
    color: $headings-color;
    a,
    a:visited {
        text-decoration: none;
    }
    a:hover {}
}

// Using a Major Third Scale
// Change the multipliers to create your own scale that suits the project
h1, .alpha {
    @include font-size($h1-font-size, $h1-line-height);
}

h2, .beta {
    @include font-size($h2-font-size, $h2-line-height);
}

h3, .gamma {
    @include font-size($h3-font-size, $h3-line-height);
}

h4, .delta {
    @include font-size($h4-font-size, $h4-line-height);
    @include margin-trailer(0.25);
}

h5, .epsilon {
    @include font-size($h5-font-size, $h5-line-height);
}

h6, .zeta {
    @include font-size($h6-font-size, $h6-line-height);
}

p, blockquote,
pre, dl {
    margin-top: 0;
    @include margin-trailer(1);
}

/**
 * $PARAGRAPHS
 */
p,
%p {}

/**
 * The `.lead` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger.
 */
.lead, %lead {
    @include font-size($h3-font-size);
}

/**
 * $QUOTES
 */
blockquote {
    @include font-size($base-font-size);
    padding: 0 1.5em;
    font-style: italic;
    cite {
        margin: 0;
        font-style: italic;
    }
}

q {
    font-style: italic;
}

/*
  $MARKS
  
  use this elelement to highlight text
 */
mark,
.marker {
    padding: 0.1em 0.5em;
    background: $light-blue;
    color: #fff;
    @include font-size($small-font-size);
    text-transform: capitalize;
    border-radius: 3px;
}

pre {
    padding: $base-spacing-unit;
    border-radius: $base-border-radius;
    border: 1px solid $grey;
}

pre, code {
    font-family: 'courier new', monospace;
    overflow: auto;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}