<div class="content-sections">
    
    {% for field in post.get_field('full_width_content') %}

        {# Add extra class if it's grid, so we can target specific grid types #}
        {% if field.acf_fc_layout     == 'grid' %}
            <section class="content-section content-section--{{field.acf_fc_layout}} content-section--grid-{{field.grid_items | length}}">
        {% else %}
            <section class="content-section content-section--{{field.acf_fc_layout}}">
        {% endif %}
		
			{% include('includes/content/content_' ~ field.acf_fc_layout|replace('_','-') ~ '.twig' ) %} 

        </section>

        {% endfor %}

</div>