<div  
class="js-map google-map"
data-address="{{ site_settings.address_street }} {{ site_settings.address_city }}, {{ site_settings.address_postal }}, {{ site_settings.address_country }}" 
data-scrollwheel="false" ></div> 
