{% import 'macros.twig' as macros %}

{% include('includes/head.twig') %}

    <body class="{{ body_class }}" >

        {% if site_settings.site_nav_style %}
            {% include("includes/header-#{site_settings.site_nav_style}.twig") %}
        {% else %}
            {% include("includes/header-simple.twig") %}
        {% endif %}
        
        
        <!--begin page content -->
        <section class="page-wrap page-wrap--nav-{{site_settings.site_nav_position}}" role="document">
          
            {# Common Elements accross layouts #}
            {% include('includes/stub.twig') %}
        
            {% block masthead %}{% endblock %}
        
            {% block map %}{% endblock %}
            {# Common Elements accross layouts #}
          
            <div id="page-content" class="page-content">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        
        </section><!-- page-wrap -->
        
        {% block bottom %}{% endblock %}
        
        {% include('includes/footer.twig') %}
        
        {{ wp_footer }}

    </body>
    
</html>