{% import 'macros.twig' as macros %}

{% include('includes/head.twig') %}

    <body class="{{ body_class }}" >  
            
        {% include [ paths.header , 'includes/header.twig' ] %}  

        <!--begin page content -->
        <section class="page-wrap" role="document">
          
            {# Common Elements accross layouts #}
            {% include('includes/stub.twig') %}
        
            {% block masthead %}{% endblock %}
        
            {% block map %}{% endblock %}
            {# Common Elements accross layouts #}
          
            <div id="page-content" class="page-content">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        
            {% block bottom %}{% endblock %}

        </section><!-- page-wrap -->
        
        
        {% include('includes/footer.twig') %}
        
        {{ wp_footer }} 

    </body>
    
</html>