{% import 'macros.twig' as macros %}

{% include('includes/head.twig') %}

    <body class="{{ body_class }}" >

        {% include('includes/header.twig') %}

        <!--begin page content -->
        <div class="page-wrap" role="document">
            
            {% include('includes/stub.twig') %}

            {% block masthead %}{% endblock %}

            <main id="page-content" class="page-content container">
                
                <div class="grid">
                    
                    <section class="grid__item two-thirds md-one-whole">
                        {% block content %}{% endblock %}
                    </section>
                  
                    <aside class="grid__item one-third md-one-whole">
                        {% block sidebar %} {{sidebar}} {% endblock %}
                    </aside>

                </div>

            </main>

            {% block bottom %}{% endblock %}
                
        </div><!-- /.wrap -->

          
        {% include('includes/footer.twig') %}

        {{ wp_footer }}

    </body>

</html>