
<section class="newsletter-bar">
  
  <div class="container">
    
    <div class="grid grid--flex flex-align-center">
      <div class="grid__item w-12-12 w-md-5-12">

        <form action="//briteweb.us12.list-manage.com/subscribe/post?u=4c07861ad514756d8b14498af&amp;id=d06772e00f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

          <div class="form-combo">
            <label class="sr-only" for="mce-EMAIL">Subscribe to our mailing list</label>
            <input type="email" value="" name="EMAIL" class="email form-control form-control--ghost" id="mce-EMAIL" placeholder="Email Address" required>
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn">Submit</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

</section>
