<form role="search" method="get" class="site-search" action="/">
    <input class="site-search__input form__control" type="text" value="" name="s">
    <button class="site-search__submit icon-search" type="submit"></button>
</form>