<form role="search" method="get" class="site-search form-search" action="{{ site.url }}">
    <input class="form-search__input form__control" type="text" value="" name="s">
    <button class="form-search__submit icon-search" type="submit"></button>
</form>