{# template for plugin pages that hijack wordpress to display their own content #}
{% extends "layouts/layout-base.twig" %}

{% block content %}

    <div class="container">
    
       {{ content }}
    
    </div>

{% endblock %}