{% extends "layouts/layout-base.twig" %}

{% block content %}
<div class="container container--small">
  
  <section id="base">
    <h1 >Basic Element Styles</h1>

    <article id="typography">
      
      <header>
        <h2  class="elements-group js-elements-heading">Typography</h2>
      </header>
      
      <div class="elements-example">
        <p>"Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" title="This is a hyperlink">this is a hyperlink</a> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p><small>Some small text</small></p>
        <p>"Lorem ipsum dolor sit amet, consectetur <em>adipisicing</em> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <i>minim</i> veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div><!--.elements-example-->

    </article>

    <article>

      <header>
        <h3>Headings</h3>
      </header>

      <div class="elements-example">
        <h1>Heading 1 (.alpha)   </h1>
        <h2>Heading 2 (.beta)    </h2>
        <h3>Heading 3 (.gamma)   </h3>
        <h4>Heading 4 (.delta)   </h4>
        <h5>Heading 5 (.epsilon) </h5>
        <h6>Heading 6 (.zeta)    </h6>
      </div><!--.elements-example-->
      
    </article>

    <article>
      
      <header>
        <h3>Blockquotes</h3>
      </header>

      <div class="elements-example">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <cite>Author of the Quote</cite>
        </blockquote>
      </div><!--.elements-example-->

    </article>

    <article id="lists">
      <h2 class="elements-group js-elements-heading">Lists</h2>

      <header>
        <h3>Ordered Lists</h3>
      </header>

      <div class="elements-example">
        <ol>
          <li>Ordered List Item</li>
          <li>Ordered List Item</li>
          <li>Ordered List Item</li>
          <li>Ordered List Item</li>
        </ol>
      </div><!--.elements-example-->

    </article>
    <article>

      <header>
        <h3>Unordered Lists</h3>
      </header>

      <div class="elements-example">
        <ul>
          <li>Unrdered List Item</li>
          <li>Unrdered List Item</li>
          <li>Unrdered List Item</li>
          <li>Unrdered List Item</li>
        </ul>
      </div><!--.elements-example-->

    </article>

    <article>
      
      <header>
        <h3>Bordered Lists</h3>
      </header>
      
      <div class="elements-example">
        <ul class="border-list">
          <li>List Item</li>
          <li>List Item</li>
          <li>List Item</li>
          <li>List Item</li>
        </ul>
      </div><!--.elements-example-->

    </article>

    <article id="tables">
      <h2 class="elements-group js-elements-heading">Tables</h2>

      <header>
        <h3>Default Table Style</h3>
        <div class="message--status">
          Wrap your <code>table</code> in a .table-wrapper div, to prevent the table from overflowing in mobile devices,
          instead the overflow will be scrollabe.

          This is the most basic solution for reponsive table. Depending on the project, more complex solutions can be implemented
        </div>
      </header>

      <div class="elements-example">
        <div class="table-wrapper">

          <table>
            <caption>Table Caption</caption>
            <tr>
              <th>First Column Heading</th>
              <th>Second Column Heading</th>
              <th>First Column Heading</th>
              <th>Second Column Heading</th>
            </tr>
            <tr>
              <td>Some tabular Data</td>
              <td>1000</td>
              <td>2000</td>
              <td>3000</td>
            </tr>
             <tr>
              <td>Some tabular Data</td>
              <td>1000</td>
              <td>2000</td>
              <td>3000</td>
            </tr>
             <tr>
              <td>Some tabular Data</td>
              <td>1000</td>
              <td>2000</td>
              <td>3000</td>
            </tr>
             <tr>
              <td>Some tabular Data</td>
              <td>1000</td>
              <td>2000</td>
              <td>3000</td>
            </tr>
          </table>
          
        </div>
      </div><!--.elements-example-->

    </article>

    <article id="forms">
      <h2 class="elements-group js-elements-heading">Forms</h2>

      <header>
        <h3>Default Stacked Form</h3>
      </header>

      <div class="elements-example">
        
        <form>

            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
            </p>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. </p>

            <div class="form__group">
              <label>
                Text Field:
                <input class="form__control" type="text" placeholder="Placeholder" />
              </label>
            </div>

            <div class="form__group">
              <label>
                Text Area:
                <textarea class="form__control" rows="10"></textarea>
              </label>
            </div>
            
            <div class="form__grid">
              <div class="form__group md-one-whole one-half">
                <label>
                  Text Field:
                  <input class="form__control" type="text"  placeholder="Placeholder" />
                </label>
              </div>
              <div class="form__group md-one-whole one-half">
                <label>
                  Text Field:
                  <input class="form__control" type="text"  placeholder="Placeholder" />
                </label>
              </div>
            </div>

            <div class="form__group">
              <label>
                Select Element:
                <select class="form__control" name="select_element">
                  <optgroup label="Option Group 1">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </optgroup>
                  <optgroup label="Option Group 2">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </optgroup>
                </select>

              </label>

              <select class="form__control" name="select_element">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>

            <div class="form__group">
              <ul class="form__checklist">
                <li>
                  <label >
                    <input type="radio" name="radio_button" value="radio_1" />
                    Radio 1
                  </label>
                </li>
                <li>
                  <label >
                    <input type="radio" name="radio_button" value="radio_2" />
                    Radio 2
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="radio_button"  value="radio_3" />
                    Radio 3
                  </label>
                </li>
              </ul>
            </div>

            <div class="form__group">
              <ul class="form__checklist">
                <li>
                  <label>
                    <input type="checkbox"  name="checkbox_1" value="check_1" />
                    Checkbox 1
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"  name="checkbox_2" value="check_2" />
                    Checkbox 2
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"  name="checkbox_3" value="check_3" />
                    Checkbox 3
                  </label>
                </li>
              </ul>
            </div>
            <div class="form__group">
              <label>
                Password:
                <input type="password" class="form__control" name="password" />
              </label>
            </div>

            <div class="form__group">
              <label for="file">
                File Input: <br>
                <input type="file" class="file" name="file" />
              </label>
            </div>
            <div class="form__group">
              <button class="btn btn--negative" type="reset" >Reset</button>
              <button class="btn " type="submit" >Submit</button>
            </div>

            <div class="message--status">
              If you want to make the .btn look consistent cross-browser, use a &lt;button&gt; tag instead of an
              &lt;input&gt;. 
            </div>

        
        </form>
      
      </div><!--.elements-example-->

    </article>
    <article>

      <header>
        <h3>Inline Form</h3>
      </header>
      
      <div class="elements-example">
        
        <form action="">
            
            <div class="form__group--inline">
              <label>
                Text Field:
                <input class="form__control" type="text" />
              </label>
              
            </div>
            <div class="form__group--inline">
              <label>
                Password:
                <input type="password" class="form__control" name="password_1" />
              </label>
            </div>
            <div class="form__group--inline">
              <div class="btn btn--small">Submit</div>
            </div>
            <div class="form__group--inline">
              <label>
                <input type="checkbox"  name="checkbox_1" value="check_1" />
                Inline Checkbox
              </label>
            </div>

        </form>
        
      </div>

    </article>

    <article>
      
      <header>
        <h3>Form Validation Styles</h3>
        
        <p>Provide some basic styles for form validation. 
          The validation error message can be placed either on before or after the input label. 
          If you want the error message not to affect the layout of a field, you can use the class '.val-error--top-right'.
          If you want this to be the default behaviour, uncomment the @extend class in the 'form-validation.scss' file </p>
      </header>
      
      <div class="elements-example">
        <form action="">
          

          <div class="form__group">

            <label class="val-error">
              Form Label <small>Required</small>
              <input type="email" name="email-error" class="form__control val-error" placeholder="Email Address">
            </label>
            <small class="val-error">Small Validation Error</small>

          </div>

          <div class="form__group">

            <span class="val-error">Normal Size Validation Error (On Top) </span>
            <label class="val-error">
              Form Label <small>Required</small>
              <input type="email" name="email-error" class="form__control val-error" placeholder="Email Address">
            </label>

          </div>


          <div class="form__group">

            <label class="val-error">
              Form Label <small>Required</small>
              <input type="email" name="email-error" class="form__control val-error" placeholder="Email Address">
            </label>
            <small class="val-error val-error--top-right">Please use a valid email</small>

          </div>

        </form>
      </div><!--.elements-example-->

    </article>
  </section>

  <section id="components">
    <h1 class="elements-group">Components</h1>

    <article id="buttons">
      
      <header>
        <h3  class="elements-group js-elements-heading">Buttons</h3>
      </header>
      
      <div class="elements-example">
        
        <p><a href="#" class="btn btn--small" >Small Button</a></p>
        <p><button class="btn" >Default Button</button></p>
        <p><button class="btn btn--large" >Large Button</button></p>
        <p><button class="btn btn--huge" >Huge Button</button> </p>
        <p><button class="btn btn--full" >Full Button</button></p>

        <p> <button class="btn btn--alpha" >Button Alpha</button> </p>
        <p> <button class="btn btn--beta" >Button Beta</button> </p>
        <p> <button class="btn btn--gamma" >Button Gamma</button> </p>
        <p> <button class="btn btn--delta" >Button Delta</button> </p>
        <p> <button class="btn btn--epsilon" >Button Epsilon</button> </p>
        <p> <button class="btn btn--natural" >Natural</button> </p>

      </div><!--.elements-example-->

    </article>

    <article id="buttons-icons">
      
      <header>
        <h3 class="js-elements-heading">Buttons with icons</h3>
      </header>
      
      <div class="elements-example">
        
        <p><a href="#" class="btn" ><i class="icon-search"></i> Small Button</a></p>

      </div><!--.elements-example-->

    </article>

    <article id="container">
      
      <header>
        <h2 class="js-elements-heading">Container</h2>
      </header>
      
      <div class="elements-example">
        <div class="container">
          <strong>Full Width Container, specifies the max width of a certain page. Should just be used as a top level wrapper and not nested</strong>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="container--flush">
          <strong>Remove the padding from the container, when you need the content to bleed to the edge</strong>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
         <div class="container--small">
          <strong>Small Width Container, used for single centered blocks of text</strong>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
         <div class="container--small container--flush">
           <strong>Use <code>.container--small</code> + <code>.container--flush</code> if you are already inside a container element</strong>
           <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div><!--.elements-example-->

    </article>

    <article id="grids">
      
      <header>
        <h2 class="js-elements-heading">Grids</h2>
      </header>
      
      <h4>Default Grid with gutter</h4>
      <div class="elements-example">

        <div class="grid" >

          <div class="grid__item lg-one-whole one-half">
            <p class="greybox">1</p>
          </div>      

          <div class="grid__item lg-one-half one-half">
            <p class="greybox">2</p>
          </div>      

          <div class="grid__item lg-one-quarter one-third">
            <p class="greybox">3</p>
          </div>      

          <div class="grid__item lg-one-quarter one-third">
            <p class="greybox">4</p>
          </div>      

          <div class="grid__item lg-one-third one-third">
            <p class="greybox">5</p>
          </div>      

          <div class="grid__item lg-one-third one-whole">
            <p class="greybox">6</p>
          </div>      

          <div class="grid__item lg-one-third one-whole">
            <p class="greybox">7</p>
          </div>

        </div><!-- .grid -->

        
      </div>
      
    </article>

    <article>
      
      <header>
        <h3>Grids (Full)</h3>
      </header>
      
      <h4>Full / Gutterless Grid</h4>
      <div class="elements-example">

        <div class="grid--full" >

          <div class="grid__item lg-one-whole one-half">
            <p class="greybox">1</p>
          </div>      

          <div class="grid__item lg-one-half one-half">
            <p class="greybox">2</p>
          </div>      

          <div class="grid__item lg-one-quarter one-third">
            <p class="greybox">3</p>
          </div>      

          <div class="grid__item lg-one-quarter one-third">
            <p class="greybox">4</p>
          </div>      

          <div class="grid__item lg-one-third one-third">
            <p class="greybox">5</p>
          </div>      

          <div class="grid__item lg-one-third one-whole">
            <p class="greybox">6</p>
          </div>      

          <div class="grid__item lg-one-third one-whole">
            <p class="greybox">7</p>
          </div>

        </div><!-- .grid -->

        
      </div>
      
    </article>

    <article>
      
      <header>
        <h3>Grids (Fluid)</h3>
      </header>
      
      <h4>Grid with percentage based gutters</h4>
      <div class="elements-example">

        <div class="grid--fluid" >

          <div class="grid__item lg-one-whole one-half">
            <p class="greybox">1</p>
          </div><!--      

       --><div class="grid__item lg-one-half one-half">
            <p class="greybox">2</p>
          </div><!--      

       --><div class="grid__item lg-one-quarter one-third">
            <p class="greybox">3</p>
          </div><!--      

       --><div class="grid__item lg-one-quarter one-third">
            <p class="greybox">4</p>
          </div><!--      

       --><div class="grid__item lg-one-third one-third">
            <p class="greybox">5</p>
          </div><!--      

       --><div class="grid__item lg-one-third one-whole">
            <p class="greybox">6</p>
          </div><!--      

       --><div class="grid__item lg-one-third one-whole">
            <p class="greybox">7</p>
          </div>

        </div><!-- .grid -->

        
      </div>
      
    </article>

    <article id="messages">
      
      <header>
        <h3 class="js-elements-heading">Messages</h3>
      </header>
      
      <div class="elements-example">

        <div class="message">
          Default Message Style
        </div>

        <div class="message--status">
          Status Message Style
        </div>
        <div class="message--positive">
          Positive Message Style
        </div>
        <div class="message--warning">
          Warning Message Style
        </div>

        <div class="message--error">
          Error Message Style
        </div>

        
      </div>
      
    </article>

    <article id="pagination">
      
      <header>
        <h3 class="js-elements-heading">Pagination</h3>
      </header>
      
      <div class="elements-example">

        <ul class="pager">
          <li><a href="#"> « </a></li>
          <li><span>      1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">»</a></li>
        </ul>

        
      </div>
      
    </article>

    <article id="icomooon">
      
      <header>
        <h3 class="js-elements-heading">Icomoon</h3>
        <div class="message--status">
          We make use of a custom built Icomoon set. By default you have a few icons included, but should expand it on a per project basis.
          Check out the vendor/icomoon folder, and use the .JSON file to update the set.
        </div>
      </header>
      
      <div class="elements-example">

          <h1>
            <i class="icon-check"></i>
            <i class="icon-times"></i>
            <i class="icon-check-circle"></i>
            <i class="icon-times-circle"></i>
            <i class="icon-plus-circle"></i>
            <i class="icon-minus-circle"></i>
            <br>
            <i class="icon-arrow-left"></i>
            <i class="icon-arrow-right"></i>
            <i class="icon-arrow-up"></i>
            <i class="icon-arrow-down"></i>
            <br>
            <i class="icon-arrow-circle-left"></i>
            <i class="icon-arrow-circle-right"></i>
            <i class="icon-arrow-circle-up"></i>
            <i class="icon-arrow-circle-down"></i>
            <br>
            <i class="icon-angle-left"></i>
            <i class="icon-angle-right"></i>
            <i class="icon-angle-up"></i>
            <i class="icon-angle-down"></i>
            <br>
            <i class="icon-gear"></i>
            <i class="icon-list"></i>
            <i class="icon-phone"></i>
            <i class="icon-search"></i>
            <i class="icon-search-minus"></i>
            <i class="icon-trash-o"></i>
            <i class="icon-play-circle-o"></i>
            <i class="icon-clock-o"></i>
            <i class="icon-calendar"></i>
            <br>
            <i class="icon-circle-o"></i>
            <i class="icon-dot-circle-o"></i>
            <i class="icon-circle-o-notch"></i>
            <br>
            <i class="icon-instagram"></i>
            <i class="icon-facebook"></i>
            <i class="icon-twitter"></i>
            <i class="icon-youtube"></i>

          </h1>

      </div>
      
    </article>

    <article id="hero">
      
      <header>
        <h2 class="js-elements-heading">Hero</h2>
      </header>
      
      <div class="elements-example">
        <section class="hero">
          <article class="hero__body">
            <div class="container">
              <h1 class="hero__heading">Your Big Heading</h1>
            </div>
          </article>
        </section>
      </div><!--.elements-example-->

    </article>
    
    <article>
      
      <header>
        <h3>Hero with Background Imaage</h3>
        <p>Some Lorem Ipsum</p>
      </header>
      
      <div class="elements-example">
        <section class="hero" style="background-image:url(<?php echo get_template_directory_uri() . '/assets/img/placeholder/placeholder-bg.jpg'; ?>  )">
          <article class="hero__body">
            <div class="container">
              <h1 class="hero__heading">Your Big Heading with Background Image</h1>
              <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p>
            </div>
          </article>
        </section>
      </div><!--.elements-example-->

    </article>

    <article>
      
      <header>
        <h3>Hero with Background Image</h3>
      </header>
      
      <div class="elements-example">
        <section class="hero hero--overlay" style="background-image:url(<?php echo get_template_directory_uri() . '/assets/img/placeholder/placeholder-bg.jpg'; ?>  )">
          <article class="hero__body">
            <div class="container">
              <h1 class="hero__heading">Your Big Heading with Background Image & Color Overlay (can be B/W)</h1>
               <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p>
            </div>
          </article>
        </section>
      </div><!--.elements-example-->

    </article>

    <article>
      
      <header>
        <h3>Hero Vert</h3>
        <p>Use this class when you want to vertically align the content of the hero section.</p>
      </header>
      
      <div class="elements-example">
        <section class="hero hero--vert" style="height:500px">
          <article class="hero__body">
            <div class="container">
              <h1 class="hero__heading">Vertically centered hero section</h1>
               <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore m</p>
            </div>
          </article>
        </section>
      </div><!--.elements-example-->

    </article>
  </section>
</div>
{% endblock %}

