/*

    Gravity Forms

    Gravity Form Specific styles and resets. Make GForms inherit from your forms.scss file
    That way you can maintain consistent styling accross form elements.

*/

// Gravity forms
.gform_fields {
    list-style: none;
    padding-left: 0;
    margin-bottom: $base-spacing-unit;
}

.gfield {
    @extend .form__group;
}

.gfield--text,
.gfield--textarea,
.gfield--email,
.gfield--tel,
.gfield--number,
.gfield--password {
    @extend .form__group--boxed;
}

.gform_body {
    ul, ol {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.gfield input[type="text"],
.gfield input[type="email"],
.gfield input[type="tel"],
.gfield input[type="url"],
.gfield input[type="number"],
.gfield input[type="password"],
.gfield input[type="text"],
.gfield textarea,
.gfield select {
    @extend .form__control;
}

.gfield input[type="text"],
.gfield input[type="email"],
.gfield input[type="tel"],
.gfield input[type="url"],
.gfield input[type="number"],
.gfield input[type="password"],
.gfield input[type="text"],
.gfield textarea {
    @extend .form__control--boxed;
}

.gform_button,
.ginput_container .button {
    @extend .btn;
}

.ginput_container .gform_button_select_files {
    @extend .btn--small;
}

// validation
.gfield_error input {
    @extend .form__control.val-error;
}

.validation_message {
    @extend label.val-error;
}

.validation_error {
    @extend .message;
    @extend .message--error;
}

.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}

// Multi file upload
.gform_drop_instructions {
    display: none;
}

.delete_list_item,
.add_list_item,
.gform_delete {
    display: inline-block;
    vertical-align: baseline;
}

.ginput_preview {
    margin-top: $label-margin;
}

.gform_confirmation_message {
    @include font-size($h1-font-size, $h1-line-height);
    font-weight: bold;
    margin: 3em 0;
}