/*

  Hero
 
  Styles to make big full width mastheads or sections

  Usage: 

  <section class="hero">
    <div class="hero__body">
      <div class="container">
        <h1 class="hero__heading"></h1>
        <p></p>
      </div>
    </div>
  </section>
 
*/

.hero {
    color: $hero-font-color;
    background-color: $hero-bg-color;
    background-size: cover;
    // The hero is ready to have a full size background image by default
    background-position: center;
    //
    position: relative;
    padding: 8rem 0;
    text-align: center;
    .hero__heading, p {
        margin-left: auto;
        margin-right: auto;
    }
    // Paragraphs in headings have a larger appereance by default
    p {
        @extend %lead;
    }
}

.hero__body {
    @include z-index(3);
    > *:last-child, > * > *:last-child {
        margin-bottom: 0;
    }
}

// Add this element parallel to the hero__body to separate the background from the content of the hero
.hero__bg {
    @include z-index(1, absolute);
    @extend %full-cover;
    background-size: cover;
    // The hero is ready to have a full size background image by default
    background-position: center;
}

.hero__heading {
    @extend %heading-style;
    color: $hero-font-color;
    @include font-size($hero-font-size);
    @include breakpoint($hero-breakpoint) {
        @include font-size($h1-font-size);
    }
}

// add a color overlay to the background-image
.hero--overlay {
    // The overlay
    &:before {
        @include z-index(2, absolute);
        @extend %full-cover;
        content: '';
        background-color: $hero-overlay-color;
        opacity: $hero-overlay-opacity;
    }
}

// Hero Vert

// Use table positioning to allow the content of the hero to be vertically centered
// You can then either set a height in pixels, or if it's placed inside an element with a
// set height, the hero will stretch to the full height of it's parent

// IMPORTANT: if setting a height on hero--vert or hero--full, use height not min-height. 
// min-height don't play well with table elements

.hero--vert {
    height: 100%;
    display: table;
    table-layout: fixed;
    width: 100%;
    .hero__body {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

.hero--fluid {
    padding: 15% 0;
    @include breakpoint-min($bp-lg) {
        padding: 10% 0;
    }
}