/* 

  Nav Dropdown

  Pure css dropdown nav

*/

.nav-dropdown {
    > ul > li {
        position: relative;
        &:hover, &:focus, &:active {
            > ul {
                opacity: 1;
                visibility: visible;
            }
        }
        > ul {
            transition: opacity 300ms ease, visibility 300ms ease;
            transition-delay: 100ms;
            opacity: 0;
            visibility: hidden;
            min-width: 10em;
            @include z-index(5, absolute);
        }
    }
}