/*

  Nav

  Extend horizontal list to create a nav with padded items. 
  Offset the nav to keep alignment

 */

.nav, %nav {
    @extend %hlist;
    margin-left: -$base-spacing-unit / 4;
    li {
        padding: 0 ($base-spacing-unit / 4);
    }
}

// Use When the nav goes in with the content (ex: after an heading)
// Ex: <h4>title</h4>
//     <ul class="nav nav--inline"></ul>
.nav--inline {
    display: inline-block;
    @include margin-trailer(1);
}

.nav--social {
    li {
        margin-bottom: $base-spacing-unit / 2;
    }
    [class*=icon] {
        @include font-size($h3-font-size);
    }
}