/*

  Site Branding

  Global branding styles
  
*/

.site-branding {
    @extend %cf;
    padding: $base-spacing-unit 0;
}

.site-branding__name,
.site-branding__logo {
    display: block;
    float: left;
}

.site-branding__logo {
    max-height: $logo-max-height;
    margin-right: $horz-spacing-unit;
    @include breakpoint($bp-sm) {
        max-height: $logo-max-height-small;
    }
}

.site-branding__name {
    @extend .gamma;
    color: #fff;
    text-decoration: none;
    &:visited {
        color: #fff;
    }
    &:hover {
        color: $dark-blue;
    }
}