/*
  
  $ELEMENTS

  Dev Elements specific page styles
  
*/

.greybox {
    @extend %island;
    background: $grey;
}

.elements-item {
    overflow: hidden;
}

.elements-item--full {
    @extend .elements-item;
    @extend .container;
    @include z-index(1);
    background: white;
    margin-left: -25%;
    @include breakpoint($bp-md) {
        margin-left: 0;
    }
}

.elements-example {
    padding: ($base-spacing-unit * 2) $base-spacing-unit $base-spacing-unit;
    border-radius: $base-border-radius;
    border: 1px solid $grey;
    margin-top: 0;
    @include margin-trailer(1);
    position: relative;
    &:before {
        content: 'Example';
        display: block;
        position: absolute;
        background: $light-grey;
        right: 0;
        top: 0;
        padding: .5em;
    }
}