/*

  $GLOBAL

  Global main area layout styles
  
*/

html, body {
    height: 100%;
}

.page-wrap {
    @include z-index(1);
    // Ensures nothing inside page can overlap navigation
}

// Page main wrapper

.page-content {
    padding-top: $section-spacing-unit;
    padding-bottom: $section-spacing-unit;
}

// Sidebars

.sidebar {
    ul {
        padding: 0;
        list-style: none;
    }
}

.sidebar-layout article,
.sidebar-layout header,
.sidebar-layout section ,
.sidebar__inner {
    // We make the main content area in the sidebar layout to have the same maximum 
    // Width as the single column layout
    // This makes for a uniform container width at small tablet sizes
    max-width: $container-small-max - $container-pad / 1rem * $base-font-size * 2;
    margin-left: auto;
    margin-right: auto;
}

// Container Sections

.content-section {
    margin-top: $section-spacing-unit;
    margin-bottom: $section-spacing-unit;
}

.content-section:first-child {
    margin-top: 0;
}

.content-section:last-child {
    margin-bottom: 0;
}

// Blog Styles

.entry-header {
    @include margin-trailer(1);
}

.entry-title {
    @include margin-trailer(0.25);
}

// Search Pages Styles

.search-results {
    margin: ($base-spacing-unit * 2) 0;
}

// Widget Styles

.widget {
    @include margin-trailer(2);
}

.widget_pages,
.widget_page_navigation {
    a {
        padding: .5em 0;
        display: block;
    }
    .children {
        margin: 0 0 0 ($base-spacing-unit / 2);
    }
}