/*

  $HEADER

  Sitewide header styles
  
*/

// Main Header Container

.site-header {
    border-bottom: 1px solid $light-grey;
    background: white;
    @include z-index(6);
    .container {
        max-width: none;
    }
}

.site-header--fixed {
    width: 100%;
    top: 0;
    @include z-index(6, fixed);
}

// Logo

.site-header__branding {
    float: left;
}

// Mobile Toggle

.site-header__toggle {
    float: right;
    display: none;
    margin: ($base-spacing-unit + ($logo-max-height - $button-toggle-width) / 2) 0;
    @include breakpoint($main-breakpoint) {
        display: inline-block;
    }

    @include breakpoint($logo-breakpoint) {
        margin: ($base-spacing-unit + ($logo-max-height-small - $button-toggle-width) / 2) 0;
    }
}

// Navigation Sections

.site-nav,
.site-subnav,
.site-util {
    // Don't need the float when the menu collapses
    @include breakpoint($main-breakpoint) {
        float: none;
    }

    ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        @include breakpoint($main-breakpoint) {
            width: 100%;
        }
    }
    li {
        display: inline-block;
    }
    li li {
        display: block;
    }
}

// Menus

.site-nav__menu,
.site-subnav__menu,
.site-util__menu {
    display: inline-block;
    a {
        display: inline-block;
        line-height: 1;
        width: 100%;
        text-decoration: none;
    }
    i {
        // The arrow down icon adds a couple of 
        // pixels to the nav height, reset with line-height:0
        line-height: 1rem;
        display: inline-block;
        vertical-align: bottom;
        padding: 0 ($base-spacing-unit / 4);
    }
    //specific for second level menu
    ul {
        border: 1px solid $light-grey;
        background: white;
    }
    > li {
        border: none;
    }
}

// Site Nav and Site Nav Menu

.site-nav {
    padding: $base-spacing-unit 0;
    float: right;
    @extend .cf;
}

.site-nav--complex {
    float: none;
    padding: 0;
    border-top: 1px solid $light-grey;
}

.site-nav__cta {
    @include breakpoint($main-breakpoint) {
        margin: (($logo-max-height - ($btn-line-height + $btn-default-proportion * 2)) / 2) 1em 0 0;
    }

    @include breakpoint($bp-sm) {
        margin-top: ($logo-max-height-small - ($btn-line-height + $btn-default-proportion * 2)) / 2;
    }
}

.site-nav__menu {
    a {
        @include link-colors($darker-grey, $color-primary, $darker-grey, $darker-grey, $grey);
        font-size: $right-nav-font-size;
        padding: ($logo-max-height / 2 - $right-nav-font-size / 2) ($base-spacing-unit / 2);
    }
    .current_page_item > a {
        color: $color-primary;
    }
}

.site-nav__menu--mobile {
    text-align: left;
    border-bottom: 1px solid $light-grey;
    @include margin-above(1);
    li {
        position: relative;
        display: block;
    }
    a, i {
        padding: $base-spacing-unit;
        border-top: 1px solid $light-grey;
    }
    ul {
        border: none;
        background: $lighter-grey;
    }
    .menu-item-has-children > a, i {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    i {
        @extend .icon-minus-circle;
        background: $lighter-grey;
        &.collapsed {
            @extend .icon-plus-circle;
        }
    }
}

.site-nav__menu--complex {
    width: 100%;
    display: table;
    table-layout: fixed;
    a {
        font-size: $complex-main-nav-font-size;
        vertical-align: middle;
    }
    > li {
        display: table-cell;
        text-align: center;
    }
    > li > ul,
    > li > ul > li {
        width: 100%;
    }
}

// Subnav 
// Usually used for contenxtual navigation shown in pages with children pages

.site-subnav {
    border-top: 1px solid $light-grey;
}

.site-subnav__menu {
    a {
        padding: $base-spacing-unit $base-spacing-unit $base-spacing-unit 0;
    }
}


// Utility Nav Area

.site-util {
    border-bottom: 1px solid $light-grey;
}

.site-util__menu {
    a {
        padding: $base-spacing-unit ($base-spacing-unit / 2);
    }
}

.site-util__menu, .site-nav__menu--util {
    a {
        @include link-colors($grey, $dark-grey, $grey, $grey, $dark-grey);
    }
    .current_page_item > a {
        color: $dark-grey;
    }
}

// Site Header Searchform

.site-search {
    display: inline-block;
    position: relative;
    margin-left: $base-spacing-unit;
    .site-header--complex & {
        margin-right: $base-spacing-unit;
    }
    .site-nav--mobile & {
        margin: 0 $base-spacing-unit;
        display: block;
        @include margin-above(2);
    }
}

.site-search__input {
    margin: 0;
    padding-right: 1.5em;
}

.site-search__submit {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: .5em;
    @include input-height(1);
    @include link-colors($dark-grey, lighten($dark-grey, 5%));
}

