{% if footer_menu.get_items %}

<ul class="nav nav--inline">
    
    {% for item in footer_menu.get_items %}

        <li class="{{item.classes | join(' ')}}">
            <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
        </li>

    {% endfor %}
    
</ul>

{% endif %}