/*

  $GLOBAL

  Global main area layout styles
  
*/

html {
    height: 100%;
}

body { 
    
    // Make the main content of the page take up the whole screen, 
    // making the footer stick to the bottom if the page doesn't have enough content
    // NOTE: Do not apply height:100% on mobile if you are using a fixed mobile nav bar,
    // This will make the page jump up when opening the mobile menu.
    @include breakpoint-min($main-breakpoint) {
        height: 100%; 
        display: flex; 
        flex-direction: column;
    }
}

.site-header,
.site-footer,
.site-sub-footer { 
    flex-shrink: 0;
}

.page-wrap { 
    flex: 1 0 auto;  
    @include z-index(1);
    // Ensures nothing inside page can overlap navigation
}

// Page main wrapper

.page-content {
    padding-top: $section-spacing-unit;
    padding-bottom: $section-spacing-unit;
}

.sidebar-layout article,
.sidebar-layout header,
.sidebar-layout section ,
.sidebar__inner {
    // We make the main content area in the sidebar layout to have the same maximum 
    // Width as the single column layout
    // This makes for a uniform container width at small tablet sizes
    max-width: $container-small-max;
    margin-left: auto;
    margin-right: auto;
}

// Container Sections

.content-section { 
    margin-bottom: $section-spacing-unit;

    &:last-child {
        margin-bottom: 0;
    }
}  

// Blog Styles 

// Widget Styles

.widget {
    @include margin-trailer(2);
}

.widget_pages,
.widget_page_navigation {
    a {
        padding: .5em 0;
        display: block;
    }
    .children {
        margin: 0 0 0 ($base-spacing-unit / 2);
    }
}