.site-nav--complex {
    display: block;
    padding:0;
}

.site-util--complex {
    display: inline-block;
} 

.site-nav__menu--complex {
    display: table;
    table-layout: fixed;
    width:100%;

    > li {
        display: table-cell; 
        text-align: center;
    }

    .sub-menu {
        min-width: 100%;
    }

}