/*

	Dinner Menu

	Responsive Overlay Navigation

	Author: Felipe Arosemena

*/

.dinner-menu {
	@include z-index(5,fixed);
	left: 0;
	top:0;
	background: white;
	width: 100%;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity $transition-fast, transform $transition-fast; 
	
}

.dinner-menu__inner { 
 
	min-height:100%; 
	display:inline-block; // Contain any margin 
	width:100%;    		  // on it's children

	// If fixed, making the dinner menu inner taller than it's 
	// parent helps prevent the page scrolling while the menu is open
	// Issue most visible on IOS
	.dinner-menu-active--fixed & {
		min-height: 120%;
	}
	
}


.dinner-menu-active,
.dinner-menu-active body {
	overflow:hidden;
}

.dinner-menu-active--relative body {

	// Lock the body into place is it's not fixed
	// Not used for fixed menu, cause it'll make the page jump up to the top
	height:100%;
}
 
.dinner-menu {
	
	.dinner-menu-transiting & ,
	.dinner-menu-active & {
		height: 100%;
		-webkit-backface-visibility:hidden;
		overflow:auto;
		-webkit-overflow-scrolling:touch;
	} 
}

.dinner-menu-active .dinner-menu {
	opacity: 1; 
	padding-top: $base-spacing-unit*4; 
}
