/*

    Sticky
    
    Make a sidebar navigation sticky.
    Sticky.js specific styles
  
    IMPORTANT: 
    If the sticky element is inside an element that has been css transformed,
    position fixed won't work as expected, it's just a standard OS behaviour
  
    !!! = Required Class (Can be configured when calling the script)
    
    Usage: 
    
  
  
    <header class="js-sticky-header"> !!!
    </header>
  
    <section class="js-sticky-main"> !!!
  
      // Add the class that you wish to use to call the sticky jquery plugin
      <div class="js-sticky grid__item"> !!!
      </div>
      
      <div class="grid__item">
      </div>
  
    </section>
  
    <footer class="js-sticky-footer"> !!!
    </footer>
  
*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: $base-spacing-unit;
    max-width: $container-max;
    // Breakpoint where you wan't to the sticky to stop working
    @include breakpoint($bp-lg) {
        position: static;
    }
}

.sticky-sibling, %sticky-sibling {
    position: relative;
    z-index: 1;
    // To prevent the sticky element from overlapping sibling elements
}