/*

	Comments

	Post comment styling

*/

.comments {
    ul {
        list-style: none;
        padding: 0;
    }
}

.comment {
    border: 1px solid $light-grey;
    @include margin-trailer(1);
    &:last-child {
        border-bottom: 1px solid $light-grey;
    }
    .comment {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin: 0;
    }
}

.comment .children {
    margin: 0;
}

.comment-body,
.comment .comment-respond {
    padding: $base-spacing-unit / 2;
}

.comment-form {}

.comment-form-url,
.comment-form-author,
.comment-form-email,
.comment-form-comment {
    @extend .form__group;
    @extend .form__group--boxed;
}

.comment-form input:not([type=submit]),
.comment-form textarea {
    @extend .form__control;
    @extend .form__control--boxed;
}