/*

    Container
  
    Sets max width for the page and centers the content

    Wrap around grid to create a centered layout

    Usage:

    <section class="container">

        <div class=grid >
            <div class=grid__item ></div>
        </div>

    </section>

    |---------------------- window  ---------------------|
    |                                                    |
    |           | |                       | |            |
    |           | |-------container-------| |            |
    |           | |                       | |            |
    |                                                    |

*/

.container,
.container--full {
    padding-left: $container-pad;
    padding-right: $container-pad;
}

.container {
    max-width: $container-max;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

.container--sm {
    max-width: $container-small-max;
}

.container--xs {
    max-width: $container-xs-max;
}

.container--flush, %container--flush {
    padding-left: 0;
    padding-right: 0;
}