/*

    Grid

    Fluid and nestable grid system, e.g.:
    

    <div class="grid">

        <div class="grid__item  one-third"> 
            content
        </div> 

        <div class="grid__item  two-thirds"> 
            content
        </div>

   </div>

*/

.grid, %grid {
    @extend %cf;
    margin-left: -$grid-gutter;
    list-style: none;
    margin-bottom: 0;
}

// Very infrequently occuring grid wrappers as children of grid wrappers.
.grid > .grid, %grid > %grid {
    margin-left: 0;
}

.grid__item, %grid__item {
    float: left;
    padding-left: $grid-gutter;
}

.grid--full, %grid--full {
    margin-left: 0;
    .grid__item {
        padding-left: 0;
    }
}

.grid--fluid, %grid--fluid {
    @extend %cf;
    @include fluid-grid($fluid-grid-gutter);
    > .grid__item {
        padding-left: $fluid-grid-gutter;
    }
}

// Grid with inline-block grid items
// Gives you auto-clearing rows
// Must clear whitespace between grid items

//See example at top

.grid--block, %grid--block {
    > .grid__item {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}