/*

    Media Listing

    Styles for Media Listing Components

    Usage:

    <div class="media-listing">
        <ul class="media-item">
            <div class="media-item__image" >
                /* your image *//*
            </div>
            <div class="media-item__content">
                /* your content *//*
            </div>
        </ul>
    </div>

*/

.media-listing {
    padding:0;
    list-style:none;
}

.media-item {
    @extend .cf;
    @include margin-trailer(2); 
}

.media-item:last-child , .media-item__content > *:last-child {
    margin-bottom: 0;
}

.media-item__image {
    width: 10rem;
    display: block; 
    margin-left:auto;
    margin-right: auto;
    @include margin-trailer(1);

    @include breakpoint-min($bp-xs) {
        width:25%;
        float:left;
        padding-right:$base-spacing-unit;
    }
}

.media-item__box {
    padding-bottom:100%;
    background:$lighter-grey;
}

.media-item__content {
    overflow: hidden;
}

