/*

  Pagination
  
  Pagination styles
  
*/

.pager {
    text-align: center;
    padding: 0;
    > li {
        display: inline-block;
        a, span {
            padding: ($base-spacing-unit / 4) ($base-spacing-unit / 2);
        }
    }
}