/*

  Site Branding

  Global branding styles
  
*/

.site-branding {
    @extend %cf;  
    display: inline-block;
}

.site-branding--header {
    padding: $base-spacing-unit/2 0;
    vertical-align: middle;
}

.site-branding__name,
.site-branding__logo {
    display: block;
    float: left;
}

.site-branding__logo { 
    width:$logo-width; 
    height:$logo-width*1.67;
    margin:$base-spacing-unit; 
}

.site-branding__name {
    @extend .gamma;
    color: #fff;
    text-decoration: none;
    &:visited {
        color: #fff;
    }
    &:hover {
        color: $dark-blue;
    }
}