/*
    
    Tiles

*/

@mixin make-tiles ($bp) {
    @include breakpoint-min($bp) {
        display: table;
        table-layout: fixed;
        width:100%;
    }
}

@mixin make-tiles-item ( $bp ) {
    @include breakpoint-min($bp) {
        display: table-cell; 
    }
}

@mixin make-tile-image($bp) {
     @include breakpoint($bp) { 
        padding-bottom: 56%;
    }
}

.tiles {
    @include make-tiles($bp-lg);
}

.tiles--two-col {
    @include make-tiles($bp-md);
}

.tiles__item {
    @include make-tiles-item($bp-lg);
    .tiles--two-col & {
        @include make-tiles-item($bp-md);
    }
} 

.tiles__item--image {
    background-size:cover;
    background-position:center; 
    @include make-tile-image($bp-lg);
    .tiles--two-col & {
        @include make-tile-image($bp-md);
    }
}  

.tiles__item--content {
    @extend %island;
    background-color:$lighter-grey;
}
