/*

  Lists

  Base list element and list classes styles
  
*/

ul, ol {
    margin-top: 0;
    @include margin-trailer(1);
}


// Definition lists

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}


// Bordered List Style

.border-list, %border-list {
    padding: 0;
    list-style: none;
    li {
        border-bottom: 1px solid $grey;
        &:last-child {
            border-bottom: none;
        }
    }
}

.menu, 
.list--unstyled {
    list-style: none;
    padding: 0;
}