/*

  Media

  Base styles for media elements (images,video,etc)
  
*/

img, media, iframe, svg {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    display: block;
    margin: auto;
}

.iframe-wrap,
.img-wrap-inner {
    @include z-index(0);
    padding-bottom: 56%;
    // Sets a default ratio for the height of the iframe (56% of the iframe's width)
    iframe,
    img {
        @extend %full-cover;
        position: absolute;
    }
}

.img-wrap {
    display: inline-block;
    vertical-align: top;
    width:100%;
}

.img-wrap--left {
    margin-left:0;
}

.img-wrap--right {

}