/*

  Tables

  Base table styles
  
*/

// Wrap table elements with this class to allow sidescroll on mobile
.table-wrapper {
    max-width: 100%;
    overflow: auto;
}

table {
    @include margin-trailer(1);
    width: 100%;
    border: 1px solid $grey;
    border-collapse: initial;
}

th {
    padding: 0.5em 1em;
    background-color: $light-grey;
    text-align: left;
    a,
    a.active {
        color: #fff;
    }
}

td {
    padding: 0.5em 1em;
    border-bottom: 1px solid $grey;
}

tr:last-child td {
    border: none;
}

caption {
    @extend .delta;
}