/*

	Dinner Menu

	Responsive Overlay Navigation

	Author: Felipe Arosemena

*/

.dinner-menu {
	@include z-index(5,fixed);
	left: 0;
	top:0;
	background: white;
	width: 100%;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity $transition-fast, transform $transition-fast;
	@include breakpoint($main-breakpoint) {
		transform: translateY(-20px);
	}
	
}


.dinner-menu-active,
.dinner-menu-active body {
	overflow:hidden;
}

.dinner-menu-transiting .dinner-menu{
	height: 100%;
	-webkit-backface-visibility:hidden;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
}

.dinner-menu-active .dinner-menu {
	opacity: 1;
	transform: translateY(0);
	padding-top: $base-spacing-unit*2 + $logo-max-height;
	@include breakpoint($logo-breakpoint) {
		padding-top: $base-spacing-unit*2 + $logo-max-height-small;
	}
}
