/*

  Offcanvas
    
  Styles specific for the mobile offcanvas navigation behaviour.
    
*/

/*
  Set the global transition variable
*/

$transition: 300ms ease;

/*
  Core Off Canvas

  Usage:

 <body>
    <div class="off-canvas">
      <div class="off-canvas__inner">

        <header class="off-canvas__header">
          <nav class=".left-off-canvas-menu"></nav> ( on whichever side you want the menu )
        </header>
        
        *** Document Content ***
        
      </div>
    </div>
  </body>
*/

.off-canvas, .off-canvas__inner {
    position: relative;
}

.off-canvas {
    overflow: hidden;
}

.off-canvas__inner {
    transition: transform $transition;
    @include breakpoint($main-breakpoint) {
        .move-right & {
            transform: translate3d($offcanvas-width, 0, 0);
        }
        .move-left & {
            transform: translate3d(-$offcanvas-width, 0, 0);
        }
    }
}

@include breakpoint($main-breakpoint) {
    .left-off-canvas-menu, .right-off-canvas-menu {
        -webkit-backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        z-index: 1001;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: $offcanvas-width;
        padding-bottom: 4em;
        // add generous spacing to the bottom of the menu
        // to allow scrolling all the way down without 
        // cutting off the content
        * {
            -webkit-backface-visibility: hidden;
        }
        .move-right &, .move-left &, .moving & {
            //only show the box shadow when the offcanvas is active, 
            // else you will see a small shadow poppiing in from the side when the menu is closed
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
        }
    }
    .left-off-canvas-menu {
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .right-off-canvas-menu {
        transform: translate3d(100%, 0, 0);
        right: 0;
    }
}


/*
  overlay element for closing the menu  
*/

.exit-off-canvas {
    cursor: pointer;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    opacity: 0;
    transition: transform $transition;
    @include breakpoint($main-breakpoint) {
        display: block;
    }

    .move-left & {
        right: $offcanvas-width;
    }
    .move-right & {
        left: $offcanvas-width;
    }
}

.move-right, .move-left {
    .exit-off-canvas {
        z-index: 2000;
        opacity: 1;
        width: 100%;
    }
}

/*
  Fixed Off Canvas
  
  .off-canvas__header needs to be outside of off-canvas__inner 
  for the fixed navigation offcanvas to work

  Usage:

  <body>
    <div class="off-canvas--fixed">

      <header class="off-canvas__header">
        <nav class=".left-off-canvas-menu"></nav> ( on whichever side you want the menu)
      </header>

      <div class="off-canvas__inner">
        *** Document Content ***
      </div>

    </div>
  </body>
*/

.off-canvas--fixed {
    @extend .off-canvas;
    @include breakpoint($main-breakpoint) {
        .left-off-canvas-menu, .right-off-canvas-menu {
            height: 100vh;
        }
    }
}

// IOS 6 & 7 need workaround to get proper height and overflow scrolling working
// JS moves the menu outside the body element

.is-ios {
    @include breakpoint($main-breakpoint) {
        .left-off-canvas-menu, .right-off-canvas-menu {
            height: 100%;
            // tested on ios, vh bug doesn't affect in this scenario
            position: fixed;
            transition: transform $transition;
        }
    }

    .move-left .right-off-canvas-menu,
    .move-right .left-off-canvas-menu {
        transform: translate3d(0, 0, 0);
    }
}

.off-canvas__header {
    transition: transform $transition;
    @include breakpoint($main-breakpoint) {
        .move-right.off-canvas--fixed & {
            transform: translate3d($offcanvas-width, 0, 0);
        }
        .move-left.off-canvas--fixed & {
            transform: translate3d(-$offcanvas-width, 0, 0);
        }
    }
}

/*
  Old Browser Fallback
*/

.off-canvas__inner {
    .no-csstransforms .move-left &, .no-csstransforms3d .move-left & {
        transform: translate3d(0, 0, 0);
        left: -$offcanvas-width;
    }
    .no-csstransforms .move-right &, .no-csstransforms3d .move-right & {
        transform: translate3d(0, 0, 0);
        right: -$offcanvas-width;
    }
}

.no-csstransforms3d, .no-csstransforms {
    .left-off-canvas-menu {
        transform: translate3d(0, 0, 0);
        left: -$offcanvas-width;
    }
    .right-off-canvas-menu {
        transform: translate3d(0, 0, 0);
        right: -$offcanvas-width;
    }
}