/*

  Transitions

  Transitions and animations
  
*/

%default-transition {
    transition: all $transition-default;
}


// Graceful element loading
.js {
    .js-img-fade,
    .js-wp-editor-img,
    .js-slider-img {
        @extend %default-transition;
        opacity: 0;
        &.in {
            opacity: 1;
        }
    }
    .js-img-slide-fade {
        @extend %default-transition;
        opacity: 0;
        transform: translateX(-5%);
        &.in {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .js-slide-fade-top {
        @extend %default-transition;
        opacity: 0;
        transform: translateY(-5%);
        &.in {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}