{% if field.grid_title %}
    <h2>{{field.grid_title}}</h2>
{% endif %}

<div class="grid">

    {% for item in field.grid_items %}

        {% if field.grid_items | length == 4 %}
        <div class="grid__item one-quarter md-one-half sm-one-whole">
        {% elseif field.grid_items | length == 3 %}
        <div class="grid__item one-third md-one-half sm-one-whole">
        {% else %}
        <div class="grid__item one-half md-one-whole">
        {% endif %}
                
            {{ item.content }}

        </div><!-- .grid__item -->

    {% endfor %}

</div><!-- .grid -->

