<div class="hero hero--overlay hero--fluid">

    <div class="hero__body">

        <div class="container">

            <h2 class="hero__heading"> {{ field.banner_title }} </h2>
          
            {% if field.banner_cta %}
                <p><a href="{{field.banner_cta_link}}" class="btn">{{field.banner_cta_text }}</a></p>
            {% endif %}

        </div>

    </div><!--.hero__body-->

    <div 
        class="hero__bg js-img-fade" 
        style="background-image:url({{ field.banner_background_image.sizes.masthead }})">

    </div><!--.hero__bg-->
    
</div>